<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowsparkle.garagesale">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GarageSale">
        <activity
            android:name="com.yellowsparkle.garagesale.ProductDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.EditProductActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.TransactionsActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.CustomersActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.AllProductActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.ManageProductActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.AddProductActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.AdminProductsActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.AdminActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.SettingActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.yellowsparkle.garagesale.HomeActivity"
            android:label="@string/app_name" />
        <activity android:name="com.yellowsparkle.garagesale.RegisterActivity" />
        <activity android:name="com.yellowsparkle.garagesale.ForgetPasswordActivity" />
        <activity android:name="com.yellowsparkle.garagesale.LoginActivity" />
        <activity
            android:name="com.yellowsparkle.garagesale.SplashActivity"
            android:theme="@style/Theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCv40FrxYTVsFOpOmwf19hfLZa68F-gpOs" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>